.DS_Store
.idea
/build/

# Xcode
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# AppCode / JetBrains
.idea/

# macOS
*.swp
*.lock
/.idea/
/.claude/
/.idea/
/.github/
